

<!-- <mat-card>
    <mat-card-content>
        <div class="header">
            <h2>Employee LogIn</h2>

        </div>
        <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
    <div class="email-input">
        <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput required/>
         </mat-form-field>
        </div>
          <div class="password-input">
            <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput required/>
             </mat-form-field>
        </div>
              <button mat-raised-button color="primary">LOGIN</button>
   
        </form>
    </mat-card-content>
</mat-card> -->