<div class="register">
   
<form>
    <h4><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
        <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
      </svg>Alumni Signup</h4><br>
      <!-- Section 1 -->
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Full name">
      </div>
      <div class="col">
        <input type="email" class="form-control" placeholder="@Email">
      </div>
    </div>
    <!-- Section 2 -->
    <br>
    <div class="row">
        <div class="col">
          <input type="tel" class="form-control" placeholder="Mobile Number">
             </div>
                 <div class="col">
                   <input type="text" class="form-control" placeholder="Highest Qualification"><br>
                     </div>
                     </div>
      <!-- Section 3 -->
      <div class="courseStatus">
      <div class="row">
          <div class="col">
             <label for="">Course Studied at ICTAK    </label>
                 <select class="" aria-label="Default select example">
                     <option value="1">FSD</option>
                     <option value="2">DSA</option>
                     <option value="3">ML-AI</option>
                     <option value="4">RPA</option>
                     <option value="5">ST</option>
                     <option value="6">CSA</option>
                </select>
            </div>
      </div><br>
      <!-- Section 4 -->
      <div class="row">
        <div class="col">
           <label for="">Batch Details</label>       
               <select class="" aria-label="Default select example">
                   <option value="1">KKEM</option>
                   <option value="2">NORKA</option>
                   <option value="3">K-DISC</option>        
                </select>
          </div>
    </div>

  <br>
    <div class="row">
        <div class="col">
            <label for="">Placement Status</label>
               <div class="form-check">
                  <input (click)="toggle();" type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" >Job-Seeking
             </div>
             <div class="form-check">
                <input (click)="toggle();" type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" >Placed
                <input type="text"  placeholder="Company Name" name="destination" [disabled]="textBoxDisabled" required pattern="[A-Z|a-z]{3}" />
                <!-- <div class="col">
                    <input type="email" class="form-control" placeholder="Email">
                  </div> -->
            </div>
        </div>
      </div>
      </div><br>
      <button  type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
      </svg> Submit</button>
  </form>
</div>



