
<div class="container">
    
    <form  #editform="ngForm" (ngSubmit)="update()" class="MyBorder rounded  my-5 p-3" >
        <h2 class="text-center text-white  m-2">Edit Form</h2>
        <div  class="form-group">
            <label for="jobrole" class="form-label">Job Role</label>
            <input type="text" class="form-control" name="jobrole" [(ngModel)]="data.jobrole" >
        </div>
        <div class="form-group" >
            <label for="companyname" class="form-label">Company Name</label>
            <input type="text" class="form-control"name="companyname" [(ngModel)]="data.companyname" >
        </div>
        <div class="form-group">
            <label for="education" class="form-label">Education</label>
            <input type="text" class="form-control" name="education" [(ngModel)]="data.education"  >
        </div>
        <div class="form-group">
            <label for="experience" class="form-label">Experience</label>
            <input type="text" class="form-control"name="experience" [(ngModel)]="data.experience" >
        </div>
        <div class="form-group">
            <label for="skills" class="form-label">Skills</label>
            <input type="text" class="form-control" name="skills" [(ngModel)]="data.skills" >
        </div>
        <div class="form-group ">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" name="location" [(ngModel)]="data.location" >
        </div>
        <div class="form-group ">
            <label for="salary" class="form-label">Salary</label>
            <input type="text" class="form-control" name="salary" [(ngModel)]="data.salary" >
        </div>
        <div class="form-group ">
            <label for="jobdescription" class="form-label">Job Description</label>
            <input type="text" class="form-control" name="jobdescription" [(ngModel)]="data.jobdescription" >
        </div><br>
        <button type="submit"  class="btn btn-success btn-lg btn-block">UPDATE</button>
      </form>
</div>