
<div class="container-fluid">
    <div class="row mt-3 ">
        <div class="col-md-12 fw-bold fs-3 text-white ">Dashboard</div>
    </div>
            <div class="value_cards_sec">
              <div class="row">
                  <div class="col-lg-3">
                      <div class="value_card card_1 text-center">
                          <h3>56</h3>
                          <p class="class fs-5">Jobs posted</p>
                          
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="value_card card_2 text-center">
                          <h3>20</h3>
                          <p class="class fs-5">Companies</p>
                          
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="value_card card_3 text-center">
                        <h3>70</h3>                         
                        <p class="class fs-5">Users</p>
                          
                      </div>
                  </div>
              </div>
          
          </div>
   <div class="row my-5">
         <h3 class="fs-4 mb-3 text-white ">Recently Added</h3>
         <div class="col ">
            <table class="table bg-white rounded shadow-sm table-hover">
                <thead >
                    <tr>
                        <th scope="col" width="50">#</th>
                        <th scope="col" width="50">Job Role</th>
                        <th scope="col" width="50">Company Name</th>
                        <th scope="col" width="50">Location</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let job of jobs;let i= index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{job.Jobname}}</td>
                        <td>{{job.CompanyName}}</td>
                        <td>{{job.Place}}</td>
                    </tr>
                </tbody>
            </table>
         </div>

   </div>
</div>





