.card-body{
   background-image: linear-gradient(to right, rgb(135, 229, 239) , rgb(185, 72, 213));
   // background-color: hsla(120, 100%, 75%, 0.3);
   // background-color: rgb(19, 123, 242);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card{
   margin-left: 12%;
}