

<!-- <div class="container "> -->
<h2 class="text-center text-white  mt-4">View All Jobs</h2>
<!-- <div class="card text-center mt-3" *ngFor="let job of jobs" style="width: 25rem; height:20em;"  > -->
<!-- <h2 class="text-center text-white  m-4">View All Jobs</h2> -->
<!-- <div class="card text-center mt-3" *ngFor="let job of jobs" style="width: 25rem; height:20em;"  > -->
 <div class="card  mt-3 " *ngFor="let job of jobs" style="width: 50rem; height:20em;"  >
    <div class="card-body">
      <h5 class="card-title text-center">{{job.jobrole}}</h5>
      <h6 class="card-subtitle mb-2 ">Company Name:{{job.companyname}}</h6>
      <h6 class="card-subtitle mb-2 ">Qualification:{{job.education}}</h6>
      <h6 class="card-subtitle mb-2 ">Experience:{{job.experience}}</h6>
      <h6 class="card-subtitle mb-2 ">Skills:{{job.skills}}</h6>
      <h6 class="card-subtitle mb-2 ">Location:{{job.location}}</h6>
      <h6 class="card-subtitle mb-2 ">Salary:{{job.salary}}</h6>
      <p class="card-text">Description:{{job.jobdescription}}</p>
      <button type="submit" class="btn btn-success" (click)="edit(job._id)">EDIT</button>
       
    </div>
  </div> 
<!-- </div> -->