<h2 class="text-center text-white  mt-5">View All Jobs</h2>
<div class="card text-center mt-3" *ngFor="let job of jobs" style="width: 25rem; height:20em;"  >
    <div class="card-body">
      <h5 class="card-title">{{job.jobrole}}</h5>
      <h6 class="card-subtitle mb-2 ">{{job.companyname}}</h6>
      <h6 class="card-subtitle mb-2 ">{{job.education}}</h6>
      <h6 class="card-subtitle mb-2 ">{{job.experience}}</h6>
      <h6 class="card-subtitle mb-2 ">{{job.skills}}</h6>
      <h6 class="card-subtitle mb-2 ">{{job.location}}</h6>
      <h6 class="card-subtitle mb-2 ">{{job.salary}}</h6>
      <p class="card-text">{{job.jobdescription}}</p>
      <button type="submit" class="btn btn-success" (click)="edit()">EDIT</button>
      <!-- <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>