
<div class="container">

    <form   class="MyBorder rounded  my-5 p-3">
        <div class="row g-0">
            <div class="col text-center  p-2 mb-3 ">
                <h2>Alumni Login</h2>
                 <div class="row">
                    <div class="col mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="" id="">
                        
                        </div>

                    </div>
                <div class="row">
                    <div class="col mb-3">
                         <label for="password" class="form-label">Password</label>
                          <input type="password" class="form-control" name="" id="">
                            
                            </div>
    
                        </div>

            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>

    </form>


</div>


