<div class="login">
<form>
    <h3>Login <img src="https://cdn4.iconfinder.com/data/icons/web-ui-color/128/Lock-512.png" alt=""></h3>
        <div class="form-group">
         <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <br>
                    </div>
    <div class="form-group">
         <label for="exampleInputPassword1">Password</label>
             <input type="password" class="form-control" id="exampleInputPassword1">
                     </div>
                 <br>
    <button (click)="submit()" type="button" class="btn btn-primary">Submit</button>
         <p>
             <a routerLink="/register">Register Alumni</a>
        </p>
        <!-- <router-outlet></router-outlet> -->
 </form>
</div>