form{
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid white;
    padding: 30px;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05); 
    color: white;
    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-align: center;font-size: large;
        text-decoration: none;
        border: 1px solid white;border-radius: 10px;
        padding: 4px;
        
    }
    a:hover{
        background-color: rgb(107, 105, 212);
        
    }
    
}
form h3{
    text-align: center;
 }
 img{
    height: 60px;
 }