<nav class="navbar navbar-dark navbar-expand-lg  mynav">
  <div class="container-fluid">
    <a class="navbar-brand btn font" (click)="gotohome()" title="Click To Go Home">
      <img src="./assets/115-1159142_job-portal-icon-in-png.png" alt="Logo" width="40" height="30"
        class=" d-inline-block align-text-top">
      Alumni Job Portal
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link btn my-btn text-white m-2" routerLink="admin" routerLinkActive="activednav"
            [routerLinkActiveOptions]="{exact:true}">Log In As Admin</a>
          <!-- *ngIf="!auth.loggedin()" -->
        </li>

        <li class="nav-item">
          <a class="nav-link btn my-btn text-white m-2" routerLink="employer" routerLinkActive="activednav">Log In As
            Employer</a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn my-btn text-white m-2" routerLink="alumni" routerLinkActive="activednav">Log In As
            Alumni</a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn my-btn text-white m-2" routerLink="faculty" routerLinkActive="activednav">Log In As
            Faculty</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>











<footer class="site-footer my-mar mt-md-3 p-4 ">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <div>
        <h6>About</h6>
        <p class="footer-text">The ICTAK Alumni Job Portal is a web-based application that is helpful for users, alumni,
          employers as well as the ICTAK authorities. The main objective of this system is to design or develop a
          software portal for ICTAK To study the existing system Searching for more job seekers ( clients) is made
          easier, reduces manual work, To develop a suitable system for Job entries and searches, to reduce errors at
          the time of Job entries and search.
        </p>



      </div>




      <div class="mx-5">
        <h6>More</h6>
        <ul class="footer-links ">
          <li><a routerLink="alumni">Alumni</a></li>
          <li><a routerLink="employer">Employer</a></li>
          <li><a routerLink="faculty">Faculty</a></li>
          <li><a routerLink="admin">Admin</a></li>
          <!-- <li><a routerLink="">Android</a></li>
          <li><a routerLink=" ">Templates</a></li> -->
        </ul>


      </div>






      <div>

        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/alumnilogin">Sign in</a></li>
          <li><a routerLink="/alumni">Log in</a></li>
        </ul>


      </div>

    </div>
    <hr>

    <div class="container ">
      <div class="row ">
        <div class="col-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
            <a href="https://github.com/Vaisakh174/Main-Project-alumni-Job-Portel.git">Alumni Job Portal.</a>
          </p>
        </div>


      </div>
    </div>

  </div>
</footer>