<nav class="navbar navbar-dark navbar-expand-lg  mynav">
    <div class="container-fluid">
      <a class="navbar-brand btn" routerLink="" >
        <img src="https://www.clipartkey.com/mpngs/m/115-1159142_job-portal-icon-in-png.png" alt="Logo" width="35" height="40" class=" d-inline-block align-text-top">
        Alumni Job Portal
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link btn my-btn text-white m-2" *ngIf="!auth.loggedin()"  routerLink="admin">Log In As Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn my-btn text-white m-2"  routerLink="faculty">Log In As Faculty</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link btn my-btn text-white m-2"  routerLink="employer">Log In As Employer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn my-btn text-white m-2" routerLink="alumni">Log In As Alumni</a>
           
          </li>
          
         
        </ul>
        
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>