
<table class="table table-success table-striped text-center ">
    <thead>
      <tr class="text-danger">
        <th scope="col">#</th>
        <th scope="col">Jobname</th>
        <th scope="col">Qualifications</th>
        <th scope="col">Alumni_qualification</th>
        <th scope="col">Experience</th>
        <th scope="col">Alumni_Experience</th>
        <th scope="col">Response file</th>
        <th scope="col">Alumni_course</th>
        <th scope="col">Alumni_branch</th>
        <th scope="col">Date</th>
        <th scope="col">Alumni_Placement</th>
        <th scope="col">Placed_company</th>
        <th scope="col">Function</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of approveposts let i=index ">
        <th scope="row">{{i+1}}</th>
        <td>{{data.Jobname}}</td>
        <td>{{data.Qualifications}}</td>
        <td>{{data.Alumni_qualification}}</td>
         <td>{{data.Experience}}</td>
        <td>{{data.Alumni_Experience}}</td>
        <td>{{data.Resfile}}</td> 
        <td>{{data.Alumni_course}}</td>
        <td>{{data.Alumni_branch}}</td>
        <td>{{data.Date}}</td>
        <td>{{data.Alumni_Placement}}</td>
        <td>{{data.Placed_company}}</td>
        <td>
            <button (click)="deletes(data._id)" type="button" class="btn w-100 m-1 btn-danger">Delete</button>
            <button (click)="edit(data._id)" type="button" class="btn w-100 m-1 btn-warning">Edit</button>
            <button (click)="approve(data._id,i)" type="button" class="btn w-100 m-1 btn-success">Approve</button>
        </td>
      </tr>
      
    </tbody>
  </table>