 
.bg-nav2{
    background-color: rgb(0, 88, 88);

}
.nav-link{
   
    color: white;
    border-radius: 10px;
}
.nav-link:hover{
    background-color: rgb(0, 134, 99);
}

@media screen and (max-width: 766px) {
    .nav-link:hover {

       background-color:rgb(0, 88, 88); ;
    }
    .nav-link{
        margin-top:5px ;
    }
}