
<div class="p-3 rounded MyBorder m-4">

    <div class="  rounded  p-3 ">

        <div  class="col-12 line">
            <h2>{{viewposts.Jobname}}</h2>
            <p>Company : {{viewposts.CompanyName}}</p>
            <hr>
            <p>Place : {{viewposts.Place}}</p>
            <p>Salary : {{viewposts.Salary}}</p>
            <p>Job Type : {{viewposts.JobType}}</p>
            <p>Qualifications : {{viewposts.Qualifications}}</p>
            <p>Experience : {{viewposts.Experience}}</p>
            <p>Benefits : {{viewposts.Benefits}}</p>
            <p>Schedule : {{viewposts.Schedule}}</p>
            <p>Language : {{viewposts.Language}}</p>
            <p>Date Posted : {{viewposts.Date}}</p>
            <p>Contact : {{viewposts.Contact}}</p>
            <hr>
            <h5 class="py-2  ">Job Description</h5>
            <p class="align">{{viewposts.JobDescription}}</p>
            <hr>
           
            <button (click)="apply(viewposts._id)" [disabled]="!viewposts.ApplyStatus" class="btn btn-primary m-2 align-items-center" *ngIf="auth.loggedin()">Apply </button>
            <hr  *ngIf="auth.loggedin()">
        </div>

    </div>

</div>