
<div class="p-3 rounded border m-4">

    <div class="  rounded  p-3 ">

        <div *ngFor="let data of viewposts" class="col-12 ">
            <h2>{{data.Jobname}}</h2>
            <p>({{data.CompanyName}})</p>
            <hr>
            <p>{{data.Place}}</p>
            <p>{{data.Salary}}</p>
            <p>{{data.JobType}}</p>
            <p>{{data.Qualifications}}</p>
            <p>{{data.Experience}}</p>
            <p>{{data.Benefits}}</p>
            <p>{{data.Schedule}}</p>
            <p>{{data.Language}}</p>
            <p>{{data.Contact}}</p>
            <hr>
            <p>{{data.JobDescription}}</p>
            <hr>
        </div>

    </div>

</div>