.card-body{
    text-align: center;
    line-height: 10px;
    // background-color: rgb(83, 177, 178);
    // background-image: linear-gradient(rgb(16, 103, 104),rgb(40, 168, 172),rgb(16, 103, 104));
    background: linear-gradient(120deg,#4340ad, #78007b);
    border-radius: 13px;
    color: white;
    
}
.card{
    border: 2px solid rgb(200, 35, 35);
    border-radius: 15px;
}




 

  
  
  
  
  
  