.card-body{
    text-align: center;
    line-height: 10px;
    // background-color: rgb(83, 177, 178);
    background-image: linear-gradient(rgb(16, 103, 104),rgb(40, 168, 172),rgb(16, 103, 104));
    color: white;
    
}