<nav class="navbar  bgnav ">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Offcanvas navbar</a> -->
        <button class="navbar-toggler bg-light " type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-flex justify-content-end ">
            <button class=" adminWelcome" type="button">Wecome To Admin Pannel</button>
            <button class="user " type="button">Admin Name: {{username}} </button>
            <button class="logout " (click)="logout()" type="button">Log out</button>
        </div>

        <div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">

            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Admin Dashboard</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">

                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                    <li class="nav-item">
                        <a class="nav-link nav-bg" *ngIf="auth.loggedin()" routerLink="managepost"  routerLinkActive="canvas-actived" [routerLinkActiveOptions]="{exact:true}"  >Manage Posts </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-bg" *ngIf="auth.loggedin()" routerLink="alumni"  routerLinkActive="canvas-actived">Manage Alumni</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-bg" *ngIf="auth.loggedin()" routerLink="faculty"  routerLinkActive="canvas-actived" >Manage Faculty's</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-bg" *ngIf="auth.loggedin()" routerLink="employer" routerLinkActive="canvas-actived">Manage Employer</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link nav-bg" *ngIf="auth.loggedin()" routerLink="addAdmin" routerLinkActive="canvas-actived">Add An Admin</a>
                    </li>

                </ul>


            </div>
        </div>
    </div>
</nav>



<router-outlet></router-outlet>